@charset "utf-8";

body {
	text-align: center;
	background-image: url(../img/body.png);
	background-attachment: fixed;
}
#total {
	text-align: center;
	margin: auto;
	width: 960px;
	background-repeat: repeat;
}
#left {
	float: left;
	width: 200px;
}
#slide {
	background-color: #FFFFFF;
	height: 315px;
	margin-top: 5px;
}

#center {
	float: left;
	width: 558px;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #990000;
	border-left-color: #990000;
}
#link {
	clear: both;
	height: 30px;
	width: 960px;
	font-weight: bold;
	color: #990000;
}


#content {
	height: 1000px;
	width: 960px;
	background-image: url(../img/cen.png);
}

#tong {
	width: 960px;
}
#sp td {
	border: 1px dotted #990000;
}

#banner {
	height: 117px;
	width: 960px;
	background-image: url(../img/top.png);
	padding-top: 10px;
	text-align: center;
	background-repeat: no-repeat;
}
#menu {
	height: 33px;
	width: 940px;
	background-image: url(menuxoan/menu_bg1.gif);
}
#footer {
	background-image: url(../img/bot.png);
	height: 120px;
	width: 960px;
	clear: both;
	text-align: center;
	color: #990000;
	background-repeat: no-repeat;
}
#hotro div {
	background-image: url(../img/hotro.png);
	height: 30px;
	width: 200px;
}
#hotro {
}
#dangnhap div {
	background-image: url(../img/DANGNHAP.png);
	height: 30px;
	width: 200px;
}
fieldset  {
	border: 1px solid #990000;
}


#right {
	float: left;
	height: 1000px;
	width: 200px;
}
#sanpham {
	background-color: #FFFFFF;
}

#giohang div {
	background-image: url(../img/giohang.png);
	height: 30px;
	width: 200px;
}
#timkiem div {
	background-image: url(../img/timkiem.png);
	height: 30px;
	width: 200px;
}
#timkiem {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
#truycap div {
	background-image: url(../img/truycap.png);
	height: 30px;
	width: 200px;
}
#tintuc div {
	background-image: url(../img/tintuc.png);
	height: 30px;
	width: 200px;
}
.atin   {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #990000;
}
#tintuc #tin {
	height: 300px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
#noidung {
	text-align: center;
	margin: auto;
	width: 960px;
	background-image: url(../img/cen.png);
	background-repeat: repeat;
}
#giaohang div {
	background-image: url(../img/giaohang.png);
	height: 30px;
	width: 200px;
}
#tintuc {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
#giaohang {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
.tieu {
	color: #FFFF99;
	background-image: url(../img/tieu.png);
	padding-left: 15px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	height: 25px;
	padding-top: 5px;
}
.loaisp{
	float:left;
	width:180px;
	margin:2px;
	border: 1px solid #000000;
	height:180px
}
